*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#9be784;
}

/* Top */

.topbar{
height:45px;
background:#1d6f3a;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 80px;
color:white;
font-size:15px;
}

.topbar span{
margin-right:25px;
}

.topbar i{
margin-right:6px;
}

/* Navbar */

nav{
height:90px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 80px;
background:rgba(255,255,255,.92);
position:absolute;
width:100%;
z-index:99;
}

.logo img{
height:70px;
}

nav ul{
display:flex;
list-style:none;
gap:40px;
}

nav li{
cursor:pointer;
font-size:18px;
color:#2b6538;
}

nav button{
background:#ffe600;
border:none;
padding:16px 30px;
border-radius:8px;
font-size:18px;
cursor:pointer;
}

/* Hero */

.hero{

height:100vh;

background:url("../images/hero-bg.jpg");

background-size:cover;

background-position:center;

position:relative;

display:flex;

align-items:center;

}

.overlay{

position:absolute;

width:100%;

height:100%;

background:rgba(255,255,255,.65);

backdrop-filter:blur(3px);

}

.content{

position:relative;

width:90%;

margin:auto;

display:flex;

justify-content:space-between;

align-items:center;

}

.left-content{

width:55%;

}

.left-content h1{

font-size:50px;

color:#19753f;

font-weight:800;

line-height:100px;

}

.left-content h3{

margin-top:40px;

color:#19753f;

font-size:25px;

}

.left-content p{

margin-top:10px;

font-size:20px;

line-height:45px;

color:#444;

}

.hero-btn{

margin-top:30px;

padding:10px 10px;

background:#ffe000;

border:none;

font-size:14px;

border-radius:10px;

cursor:pointer;

}

.right-content{

width:35%;

text-align:center;

}

.right-content img{

width:100%;

max-width:450px;

}

/* Responsive */

@media(max-width:992px){

.content{

flex-direction:column;

text-align:center;

}

.left-content,

.right-content{

width:100%;

}

.left-content h1{

font-size:60px;

line-height:70px;

}

.left-content p{

font-size:20px;

}

nav{

padding:20px;

}

nav ul{

display:none;

}

.topbar{

display:none;

}

}
